<div class="container">
  <mat-card class="tipo-jornada-pyp-list-card">
    <mat-card-header>
      <h2 class="form-title">
        <mat-icon>schedule</mat-icon>
        Lista de Tipos de Jornada PYP
      </h2>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="addJornada()"
        class="add-new-button"
      >
        <mat-icon>add</mat-icon> Nuevo Tipo
      </button>

      <div *ngIf="jornadasPyp.length > 0; else noJornadas">
        <table
          mat-table
          [dataSource]="jornadasPyp"
          class="mat-elevation-z8 tipo-jornada-pyp-material-table"
        >
          <!-- Columna de ID -->
          <ng-container matColumnDef="idTipoJornadaPyp">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.idTipoJornadaPyp }}
            </td>
          </ng-container>

          <!-- Columna de Nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <!-- Columna de Activo -->
          <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef>Activo</th>
            <td mat-cell *matCellDef="let element">{{ element.activo }}</td>
          </ng-container>

          <!-- Columna de Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="accent"
                (click)="editJornada(element.idTipoJornadaPyp)"
                title="Editar"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteJornada(element.idTipoJornadaPyp)"
                title="Eliminar"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <ng-template #noJornadas>
        <p class="no-data">No hay tipos de jornada registrados.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
