<div class="container">
  <mat-card class="tipo-camara-form-card">
    <h2 class="form-title">
      <mat-icon>{{ isEditMode ? "edit" : "note_add" }}</mat-icon>
      {{ isEditMode ? "Editar Tipo de Cámara" : "Nuevo Tipo de Cámara" }}
    </h2>

    <form [formGroup]="tipoCamaraForm" (ngSubmit)="onSubmit()">
      <!-- Panel de expansión para Información General -->
      <mat-expansion-panel [expanded]="true" class="form-section-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>info</mat-icon>
            Información General
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" required />
            <mat-error
              *ngIf="
                tipoCamaraForm.get('nombre')?.hasError('required') &&
                tipoCamaraForm.get('nombre')?.touched
              "
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Activo</mat-label>
            <mat-select formControlName="activo" required>
              <mat-option value="S">SI</mat-option>
              <mat-option value="N">NO</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                tipoCamaraForm.get('activo')?.hasError('required') &&
                tipoCamaraForm.get('activo')?.touched
              "
            >
              El estado es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <!-- Panel de expansión para Fechas, colapsado por defecto -->
      <mat-expansion-panel class="form-section-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>date_range</mat-icon>
            Fechas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Fecha de Registro</mat-label>
            <input
              matInput
              [matDatepicker]="pickerRegistra"
              formControlName="fechaRegistra"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerRegistra"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerRegistra></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Fecha de Inactivación</mat-label>
            <input
              matInput
              [matDatepicker]="pickerInactiva"
              formControlName="fechaInactiva"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerInactiva"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerInactiva></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="tipoCamaraForm.invalid"
        >
          <mat-icon>{{ isEditMode ? "save" : "add_circle" }}</mat-icon>
          {{ isEditMode ? "Actualizar" : "Guardar" }}
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
      </div>
    </form>
  </mat-card>
</div>
