/* src/styles.css */
/* @import 'custom-theme.scss'; */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css"; /* O el que prefieras */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
